- content_for :title, 'Pages'
- content_for :meta, 'a simple content management system'
- content_for :action_bar, link_to('create a new page', new_admin_page_path)

%table
  %thead
    %tr
      %th      Permalink
      %th.main Title
      %th      Published?
  %tbody
    - @pages.each do |page|
      %tr
        %td= page_path(page)
        %td= link_to page.title, admin_page_path(page)
        %td= boolean_flag(page.published?)
      
= will_paginate @pages