%li.comment{:id => dom_id(comment), :class => (comment.user ? 'member' : nil)}
  %h5.meta
    %span.author= comment.author_website.blank? ? comment.author_name : link_to(comment.author_name, comment.author_website, :rel => 'nofollow', :target => '_blank')
    %abbr.date{:title => comment.created_at.to_s(:full_ordinal)}=   comment.created_at.to_s(:micro)
  
  = simple_format comment.body