/* Temporary Style */
/* Gets us by until we have a real theme */

  html { 
    margin: 0; padding: 0;
    color: #585858; background-color: #FFF;
    font-size: 62.8%; font-family: "Lucida Grande","Lucida Sans",Arial,sans-serif;
  }
  body { 
    margin: 0 auto; padding: 0 5px; width: 960px; 
    font-size: 1.3em; line-height: 1.4em;
  }

  /* .html areas */
  /* Used for user generated css */
  .html ul, .html ol  { margin-bottom: 1em; padding-left: 2em;}
  .html ul li         { list-style: disc; margin-bottom: 0.3em; }
  .html ol li         { list-style: decimal; margin-bottom: 0.3em; }

  /* Convenience Classes */
  .clear        { clear: both; }
  .clear-left   { clear: left; }
  .clear-right  { clear: right; }

  /* Headings */
  h1, h2, h3, h4, h5, h6 {
    padding: 0.2em 0; margin-bottom: 0.6em; 
    font-family: "adelle-1", "adelle-2", serif;
    border-bottom: 1px solid #E2E2E2;
  }
  h1 { font-size: 2.0em; line-height: 1.2em; }
  h2 { font-size: 1.7em; line-height: 1.2em; }
  h3 { font-size: 1.5em; line-height: 1.2em; }
  h4 { font-size: 1.3em; line-height: 1.2em; }
  h5 { font-size: 1.1em; line-height: 1.2em; }
  h6 { font-size: 0.9em; line-height: 1.2em; }

  /* General */
  p { margin-bottom: 1em; }

  /* Links */
  a:link    { color: #BF3838; text-decoration: none;}
  a:visited { color: #674646;}
  a:hover   { color: #BF3838; text-decoration: underline; }

  /* Header */
  #header {
    height: 60px; padding: 25px 15px 15px;
    position: relative;
  }
  #header #site-name {
    display: block;
    width: 133px;
    height: 40px;
    background: transparent url(images/logo.png) 0 0 no-repeat;
    text-indent: -5000em;
  }
  #header #tag-line {
    display: block;
    font-size: 0.85em;
    color: #787878;
  }
  
  /* Nav Bar */
  #nav-bar {
    margin-bottom: 30px;
  }
  
  #nav-bar ul {
    display: block; width: 960px; height: 36px;
    background: transparent url(images/nav.png) 0 0 no-repeat;
  }
  
  #nav-bar li {
    float: left;
  }
  
  #nav-bar li a {
    display: block; height: 36px;
    text-indent: -5000em;
    background: transparent url(images/nav.png) 0 0 no-repeat;
  }
  
  #nav-bar a.home {
    width: 86px;
    background-position: 0px -36px;
  }
  #nav-bar a.home:hover {
    background-position: 0px -72px;
  }
  #nav-bar li.active a.home {
    background-position: 0px -108px;
  }
  
  #nav-bar a.blog {
    width: 74px;
    background-position: -86px -36px;
  }
  #nav-bar a.blog:hover {
    background-position: -86px -72px;
  }
  #nav-bar li.active a.blog {
    background-position: -86px -108px;
  }
  
  #nav-bar a.about {
    width: 93px;
    background-position: -278px -36px;
  }
  #nav-bar a.about:hover {
    background-position: -278px -72px;
  }
  #nav-bar li.active a.about {
    background-position: -278px -108px;
  }
  
  #nav-bar li.last {
    width: 2px; height: 36px;
    background: transparent url(images/nav.png) -371px -36px;
  }
  
  /* Content */
  #content {
    width: 680px;
    float: left;
  }
  
  /* Sidebar */
  #sidebar {
    width: 240px;
    padding-left: 20px;
    float: right;
    border-left: 3px solid #DDD;
  }

  /* Footer */
  #footer {
    clear: both;
    padding: 20px 0;
    font-size: 0.8em; text-align: center;
    color: #929292;
  }
  #footer:after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
  }
  #footer #sponsors {
    width: 50px; padding-left: 40px;
    float: right; margin-right: -90px;
    border-left: 1px solid #C6C6C6;
    background: transparent url(/images/sponsors/label.png) 4px 0 no-repeat;
  }

/* END Temporary Style */

/* Posts */
.post .post-title  { margin-bottom: 0.3em; }
.post .post-title a { color: inherit; text-decoration: none; }
.post .post-title a:hover { color: #B60600; }
.post .meta { font-size: 1.1em; line-height: 1.2em; margin-bottom: 1em; padding-left: 0.5em; border-left: 3px solid #C6C6C6; }
.post .meta .author {
  color: #B60600;
}
.post .meta .comments { background-color: #C6C6C6; color: #FFF; display: inline-block; padding: 0.2em 0.3em; text-decoration: none;}
.post .meta .comments:hover { background-color: #A2A2A2; }
.post .html { margin-bottom: 2em; }
.meta .date { color: #999; }

.comment { padding-left: 0.5em; border-left: 3px solid #C6C6C6; }
.comment.member { border-color: #B60600; }
.comment .meta { margin: 0; border: none; font-size: 1em; }
.comment .meta .author, .comment .meta .author a { color: #B60600; }