.CodeRay {
  background: transparent url(images/code_bg.png) left top repeat;
  font-family: Monaco, "Courier New", courier, monospace;
  border: 1px solid black;
  color: #F0F0F0;
  padding: 3px 5px;
  overflow: auto;
  width: auto !important;
  max-width: 688px;
  font-size: 12px;
  margin: 12px 0;
}
.CodeRay pre {
  margin: 0px !important;
  padding: 0px !important;
  background: none !important;
  border: none !important;
}

.CodeRay .an { color:#E7BE69 }                      /* html attribute */
.CodeRay .c  { color:#BC9458; font-style: italic; } /* comment */
.CodeRay .ch { color:#509E4F }                      /* escaped character */
.CodeRay .cl { color:#FFFE88 }                      /* class */
.CodeRay .co { color:#DDCC33 }                      /* constant */
.CodeRay .fl { color:#A4C260 }                      /* float */
.CodeRay .fu { color:#FFC56D }                      /* function */
.CodeRay .gv { color:#D0CFFE }                      /* global variable */
.CodeRay .i  { color:#A4C260 }                      /* integer */
.CodeRay .il { background:#151515 }                 /* inline code */
.CodeRay .iv { color:#D0CFFE }                      /* instance variable */
.CodeRay .pp { color:#E7BE69 }                      /* doctype */
.CodeRay .r  { color:#CB7832 }                      /* keyword */
.CodeRay .rx { color:#A4C260 }                      /* regex */
.CodeRay .s  { color:#A4C260 }                      /* string */
.CodeRay .sy { color:#6C9CBD }                      /* symbol */
.CodeRay .ta { color:#E7BE69 }                      /* html tag */
.CodeRay .pc { color:#6C9CBD }                      /* boolean */
