= stylesheet_link_tag 'reset', 'forms', 'application', 'coderay', :cache => 'site'
= javascript_include_tag 'jquery/jquery.js', 'application', 'form', :cache => 'site'

= javascript_include_tag 'http://use.typekit.com/fae2vcd.js'
%script{:type => 'text/javascript'} try{Typekit.load();}catch(e){}